<!doctype html>
<html lang="en"  xmlnx:th="http://www.thymeleaf.org" th:replace="base::Layout(~{::section})">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
  </head>
  <body>
   <section class="banner d-flex justify-content-center align-items-center">
    	<div class="text-center">
    		<h1 class="font-weight-bold">SMART CONTACT MANAGER</h1>
    		<p>
    		 Start collectiong yours contacts in smarter ways. We provide 
    		 Efficient and smarter ways to collect the contact Imformation.
    		</p>
    		<button class="btn bg-primary btn:lg text-white">Get Start</button>
    	</div>
    	
   </section>
  </body>
</html>